.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.login-box {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

form {
    margin: 0 auto;
    max-width: 320px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #3893d8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }