@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body { background-color:#fefdfb; color: #555; font-family: 'Montserrat', sans-serif; font-size: 93%; font-weight:normal;margin: 0; }

a:link, a:visited, a:active{ color:inherit; text-decoration: none; }
a:hover {color: #000; text-decoration: none; }

.right {text-align:right; }
.hide {display: none;}

.space2 {
    margin-top: vh;
}

.space {
    margin-top: 50%;
}

.rounded-button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #3e9dff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
}

.rounded-button:hover {
    background-color: #3a7dc1;
}

.hero {
    background-image: url('/static/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.hero2 {
    background-image: url('/static/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    background-attachment: fixed;
}

.hero3 {
    background-image: url('/static/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    background-attachment: fixed;
}

.title-content {
    font-size: 5vh;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.title-text {
    font-size: 2.7vh;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.hero-content {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.title-text2 {
    margin-left: 5vw;
    font-size: 2.7vh;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.title-text3 {
    margin-right: 5vw;
    font-size: 2.7vh;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.herocontent2 {
    text-align: right;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10vw;
    margin-left: 50vw;
}

.herocontent3 {
    text-align: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50vw;
    margin-left: 10vw;
}

  
.login-photo {
display: block;
width: 18vh;
}

.navbar {
    
    width: 100%;
    height: 7.5vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004094;
    z-index: 1;
  }
  
.navbar__logo img {
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    margin-left: 1vw;
}
  
.navbar__links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
.navbar__links li {
    margin: 0 1rem;
    list-style: none;
}
  
.navbar__links li:first-child {
    margin-left: 0;
}
  
.navbar__links li:last-child {
    margin-right: 0;
}
  
.navbar__links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
.navbar__links a:hover {
    color: #3E9DFF;
}
  
.navbar__login a {
    flex: 0 0 auto;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #3e9dff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    margin-right: 1vw;
}
 
.navbar__links-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar__login a:hover {
    background-color: #005DB6;
    color: #fff;
}
.content {
    margin-top: 7.5vh;
}
  
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}