<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>OpenMetaSIATA | Dashboard</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.svg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="OpenMetaSIATA | Dashboard" lang="en" content="dashboard">
<meta name="02lovelollipop" content="mlp design">
<meta name="02lovelollipop" content="index, follow">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slidy.css') }}">

</head>
<body>
  <div id="menu">
    
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="{{ url_for('badapple') }}">
          <img src="/static/logo.svg" alt="logo" class="login-photo">
        </a>
      </div>
        <div class="navbar__links-container">
          <ul class = "navbar__links">  
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('map') }}">Map</a></li>
            <li><a href="{{'static', url_for('map') }}">Tables</a></li>
          </ul>
        </div>
      <div class="navbar__login">
        <a href="{{ sessionUrl }}">{{ sessionMessage }}</a>
      </div>
    </nav>

  </div>
  <div class="content">
    <div class="hero">
      <div class="hero-content">
        <div class="title-content">
          <h1>OpenMetaSIATA</h1>
        </div>
        <div class="title-text">
          <p>The open-source SIATA Map Viewer</p>
        </div>
        <a href="{{ url_for('map') }}">
          <button class="rounded-button" >View map</button>
        </a>
        
      </div>
    </div>
    
    <div class="hero2">
      <div class="herocontent2">
        <div class="title-content">
          <h2>Free, open source and easily deployed</h2>
        </div>
        <div class="title-text2">
          <p>OpenMetaSIATA is based in Flask, a powerful and flexible framework, allowing a pure HTML/CSS responsive webPages and APIs</p>
        </div>
        <a href="https://github.com/02loveslollipop/OpenMetaSIATA">
          <button class="rounded-button" >Source code</button>
        </a>
        
      </div>
    </div>
    
    <div class="hero3">
      <div class="herocontent3">
        <div class="title-content">
          <h1>A container-based design</h1>
        </div>
        <div class="title-text3">
          <p>The container model allows to have an easier deployment, maintenance and expansion</p>
        </div>
        <a href="https://www.docker.com/resources/what-container/">
          <button class="rounded-button" >Learn more</button>
        </a>
        
      </div>
    </div>
  </div>
</body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>