<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>OpenMetaSIATA | Dashboard</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.svg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="OpenMetaSIATA | Dashboard" lang="en" content="dashboard">
<meta name="02lovelollipop" content="mlp design">
<meta name="02lovelollipop" content="index, follow">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slidy.css') }}">

</head>
<body>
<div id="menu">
  <div class="icon-container">
    <img src="/static/logo.svg" alt="Login logo" class="login-photo">
  </div>

  

  <nav>
    <input type="checkbox" id="show-menu" role="button">
    <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
    <label for="show-menu" class="close"><span class="fa fa-times">"</span></label>

    <ul id="topnav">  
      <li><a href="{{ url_for('map') }}">Map</a></li>
      <li><a href="{{'static', url_for('map') }}">Table</a></li>
      <li><a href="{{'static', url_for('map') }}">Raw</a></li>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
  </nav>
</div>
<div id="container">
  <div id="pageheader">
  </div>
</div>

<div class="space2"></div>
<div class="hero">
  <div class="hero-content">
    <div class="title-content">
      <h1>OpenMetaSIATA</h1>
    </div>
    <div class="title-text">
      <p>The open-source SIATA Map Viewer</p>
    </div>
    <a href="{{ url_for('map') }}">
      <button class="rounded-button" >View map</button>
    </a>
    
  </div>
  </body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>