<!DOCTYPE html>
<html>
  <head>
    <title>OpenMetaSIATA</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg">
    <style>
      #wallpaper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <script>
      function hashPassword() {
        var password = document.getElementById('password').value;
        var hashedPassword = sha256(password);
        document.getElementById('password').value = hashedPassword;
        return true;
      }
    </script>
  </head>
  <body>
    <div id="wallpaper"></div>
    <div class="login-container">
      <div class="icon-container">
        <img src="/static/favicon.svg" alt="Login logo" class="login-photo">
      </div>
      <div class="login-box">
        <h1>OpenMetaSIATA</h1>
        {% if error %}
        <div class="login-error">
          <p>{{ error }}</p>
        </div> 
        {% endif %}
        <form action="/login" method="post" onsubmit="return hashPassword();">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username"><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"><br><br>
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
